In [280]:
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
%matplotlib inline

### 1. Importing dataset (nursery)

#### info: 
- parents:     usual, pretentious, great_pret.
- has_nurs:    proper, less_proper, improper, critical, very_crit.
- form:        complete, completed, incomplete, foster.
- children:    1, 2, 3, more.
- housing:     convenient, less_conv, critical.
- finance:     convenient, inconv.
- social:      nonprob, slightly_prob, problematic.
- health:      recommended, priority, not_recom.

In [281]:
#head = ["parents","has_nurs","form","children","housing","finance","social","health","decision_class"]
#data = pd.read_table("./datasets/nursery.data.txt",delimiter=',',header=None,names=head,index_col=False)

#HTRU2
#head = ["mean_1","sd_1","excess_k_1","skew_1","mean_2","sd_2","excess_k_2","skew_2","class"]
data = pd.read_table("./datasets/HTRU2/HTRU_2.csv",delimiter=',',header=None,index_col=False)
data_y=data[:][8]
data_x = data.drop(columns=8)

In [282]:
data.head(5)

,0,1,2,3,4,5,6,7,8
0,140.562500,55.683782,-0.234571,-0.699648,3.199833,19.110426,7.975532,74.242225,0
1,102.507812,58.882430,0.465318,-0.515088,1.677258,14.860146,10.576487,127.393580,0
2,103.015625,39.341649,0.323328,1.051164,3.121237,21.744669,7.735822,63.171909,0
3,136.750000,57.178449,-0.068415,-0.636238,3.642977,20.959280,6.896499,53.593661,0
4,88.726562,40.672225,0.600866,1.123492,1.178930,11.468720,14.269573,252.567306,0

### 2. changing to numerical values
- one hot encoding (data_one)
- label encoding (data)

#label encoding
cleanup_nums = {"parents":     {"usual": 0, "pretentious": 1,"great_pret":2},
               "has_nurs": {"proper":0, "less_proper":1, "improper":2, "critical":3, "very_crit":4},
                "form": {"complete":0, "completed":1, "incomplete":2, "foster":3},"children":{"more":4},
                "housing":{"convenient":0, "less_conv":1, "critical":2},
                "finance":{"convenient":0, "inconv":1},
                "social":{"nonprob":0, "slightly_prob":1, "problematic":2},
                "health":{"recommended":0, "priority":1, "not_recom":2},
                "decision_class":{"not_recom":0,"recommend":1,"very_recom":2,"priority":3,"spec_prior":4}}
#data.replace(cleanup_nums, inplace=True)

### 3. Normalization
- min-max

In [283]:
def normalize(data):
    k = np.array(data.values)
    mini = np.min(k,axis=0)
    maxi = np.max(k,axis=0)
    k=(k-mini)/(maxi-mini)
    return pd.DataFrame(k)

In [284]:
#one-hot
#data_one = pd.get_dummies(data, columns=head).head()

#normalization
data_x = normalize(data_x)

In [285]:
data_x.head(5)

,0,1,2,3,4,5,6,7
0,0.721342,0.417687,0.165043,0.015627,0.013382,0.113681,0.294986,0.063890
1,0.517628,0.460908,0.235415,0.018268,0.006560,0.072524,0.364015,0.108443
2,0.520346,0.196868,0.221138,0.040677,0.013030,0.139188,0.288624,0.054610
3,0.700933,0.437884,0.181750,0.016534,0.015368,0.131583,0.266348,0.046581
4,0.443854,0.214847,0.249044,0.041712,0.004327,0.039684,0.462029,0.213369

### 4. Similarity measures and Pruning
- Euclidean
- manhattan
- latent
- latice

In [286]:
def perform_inner(k,user):
    for i in range(len(k)):
        if k[i]>user[i]:
            k[i]=user[i]
    return max(k)

def perform_outer(k,user):
    for i in range(len(k)):
        if k[i]<user[i]:
            k[i]=user[i]
    return min(k)

def lattice(data,user):
    k = data.values
    final_result = np.zeros(k.shape[0])
    for i in range(0,k.shape[0]):
        inner_result = perform_inner(k[i],user)
        outer_result = perform_outer(k[i],user)
        final_result[i] = min(inner_result,(1-outer_result))
    return final_result

In [287]:
user = [0.417628,0.410908,0.215415,0.088268,0.026560,0.272524,0.314015,0.148443]
threshold = 0.35

final_result = lattice(data_x,user)
final_result=final_result>threshold
data_pruned = data[final_result]
print(data_pruned.shape)

(0, 9)

Outlier Detection

## Steps:

### 1. Importing dataset (nursery)

#### info: 
- parents:     usual, pretentious, great_pret.
- has_nurs:    proper, less_proper, improper, critical, very_crit.
- form:        complete, completed, incomplete, foster.
- children:    1, 2, 3, more.
- housing:     convenient, less_conv, critical.
- finance:     convenient, inconv.
- social:      nonprob, slightly_prob, problematic.
- health:      recommended, priority, not_recom.

### 2. changing to numerical values
- one hot encoding (data_one)
- label encoding (data)

### 3. Normalization
- min-max

### 4. Similarity measures
- Euclidean
- manhattan
- latent
- latice

### 4. Pruning